html {
  background-color: #FEE7E7;
}
p {
    color:red;
    }
h2 {
    text-align: center;
  }
h1 {
    text-align: center;
 }
.Launching{
  color: purple;
}
.CellPhone{
  color: purple;
}
.Apple{
  color: purple;
}
.Computer{
  color: purple;
}
.Televison{
  color: purple;
}
h1{
  color: lightblue
}
.LaunchingMain{
  background-color: #33E6FF
}
.CellMain{
  background-color: #33D4FF
}
.AppleMain{
  background-color: #33B2FF
}
.ComputerMain{
  background-color: #339AFF
}
.TelevisionMain{
  background-color: #3389FF
}
